@font-face {
    font-family: LeagueGothic;
    src: url(/static/media/fonts/LeagueGothic-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url(/static/media/fonts/OpenSans-Light.ttf);
    font-weight: normal;
    font-style: normal;
}


body, #login-panel-bg {
    background-image: url('/static/images/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

body {
    background-position: center top -500px;
    margin: 0;
}

#login-panel {
    text-align: center;
    margin-top: 250px;
    position: relative;

    margin-left: auto;
    margin-right: auto;
    width: 40%;
    max-width: 400px;

    color: #fefefe;
    z-index: 98;

}

#login-panel-bg {
    /* Absolutely position it, but stretch it to all four corners, then put it just behind #search's z-index */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;

    /* Pull the background 70px higher to the same place as #bg's */
    background-position: center -750px;
    -webkit-filter: blur(5px);
    filter:blur('/static/media/blur.svg#blur');
    filter: blur(5px);
}

#login-panel-fg {
    /* Put this on top of the blurred layer */
    position: relative;
    z-index: 100;
    padding: 20px 20px 60px 20px;
    background: rgb(34,34,34); /* for IE */
    background: rgba(34,34,34, 0.66);
    overflow: auto;

    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    -ms-transition: background 0.2s;
    -o-transition: background 0.2s;
    transition: background 0.2s;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#login-panel-fg:hover
{
    background: rgba(34,34,34, 0.86);
}


.__group
{
    margin-top: 5px;
    width: 100%;
    float: left;
}

.__group label
{
    margin-left: 20px;
    float: left;
    width: 40px;
}

#log-in
{
    margin-top: 10px;
}

@media (max-width: 600px ) {
    #login-panel {
        margin-top: 50px;
        width: 100%;
    }
    #login-panel-bg {
        background-position: center -550px;
    }
}

@media (max-width: 1920px )
{
    body, #login-panel-bg {
        background-image: url('/static/images/background.jpg');
        background-repeat: no-repeat;
        background-size: 1980px auto;
    }
}

#portal-body
{
    position: absolute;
    left: 10%;
    right: 10%;
    background-color: white;

    padding: 10px 0 50px 0;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-bottomright: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;

    border-left: 1px #5b5b5b solid;
    border-right: 1px #5b5b5b solid;
    border-bottom: 1px #5b5b5b solid;
}

#portal-title
{
    width: 100%;
    min-height: 50px;
    max-height: 100px;

    padding-bottom: 10px;
    border-bottom: 2px black solid;
}

#title
{
    text-align: center;
    font-family: OpenSans;
    font-size: 25px;
    padding-top: 0;
    padding-left: 50px;
    font-weight: lighter;
}

#title h1
{
    margin-top: -10px;
}

#portal-title-actions
{
    position: absolute;
    right: -40px;
    top: 20px;
    padding-right: 50px;
}

.portal-image-gallery
{
    max-height: 34vw;
}

#portal-navbar
{
    border-bottom: 2px black solid;
    height: 43px;
}

.gallery-thumbnail
{
    float:left;
    width: 200px;
    height: 150px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

#discussion-full-width img, .gallery-thumbnail img
{
    width: 100%;
    height:100%;
}


.Image-panorama
{
    overflow: hidden;
}

.image-panorama-images
{
    max-width: none!important;
}

.image-panorama-navigation
{
    position: relative;
    top: 0;;
}

.image-panorama-prev
{
    float: left;
}

.image-panorama-next
{
    float: right;
}

.image-panorama-images img
{
    height: 100%;
}

