@font-face {
    font-family: LeagueGothic;
    src: url(/static/media/fonts/LeagueGothic-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url(/static/media/fonts/OpenSans-Light.ttf);
    font-weight: normal;
    font-style: normal;
}


body, #login-panel-bg {
    background-image: url('/static/images/background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

body {
    background-position: center top -500px;
    margin: 0;
}

#login-panel {
    text-align: center;
    margin-top: 250px;
    position: relative;

    margin-left: auto;
    margin-right: auto;
    width: 40%;
    max-width: 400px;

    color: #fefefe;
    z-index: 98;

}

#login-panel-bg {
    /* Absolutely position it, but stretch it to all four corners, then put it just behind #search's z-index */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;

    /* Pull the background 70px higher to the same place as #bg's */
    background-position: center -750px;
    -webkit-filter: blur(5px);
    filter:blur('/static/media/blur.svg#blur');
    filter: blur(5px);
}

#login-panel-fg {
    /* Put this on top of the blurred layer */
    position: relative;
    z-index: 100;
    padding: 20px 20px 60px 20px;
    background: rgb(34,34,34); /* for IE */
    background: rgba(34,34,34, 0.66);
    overflow: auto;

    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    -ms-transition: background 0.2s;
    -o-transition: background 0.2s;
    transition: background 0.2s;
}

#login-panel-fg:hover
{
    background: rgba(34,34,34, 0.86);
}


.__group
{
    margin-top: 5px;
    width: 100%;
    float: left;
}

.__group label
{
    margin-left: 20px;
    float: left;
    width: 40px;
}

.discussion-group:last-child
{
    clear: both;
}

#log-in
{
    margin-top: 10px;
}

@media (max-width: 600px ) {
    #login-panel {
        margin-top: 50px;
        width: 100%;
    }
    #login-panel-bg {
        background-position: center -550px;
    }
}

@media (max-width: 1920px )
{
    body, #login-panel-bg {
        background-image: url('/static/images/background.jpg');
        background-repeat: no-repeat;
        background-size: 1980px auto;
    }

}

@media (max-width: 1920px )
{
}

#portal-body
{
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;

    padding: 0 0 0 0;
}

#portal-title
{
    position: relative;
    width: 100%;
    min-height: 50px;
    max-height: 100px;
    padding-bottom: 16px;

}

.__title-container
{
    text-align: center;
    width: 100%;
}

.__title-container h1
{
    font-size: 250%;
    background-color: white;
    color: black;
    margin-left: 0;
    margin-right: 0;
}

.__container
{
    background-color: white;
    box-shadow: #e4e4eb;
    margin-bottom: 6px;
}

.__container.noSpace
{
    margin-bottom: 0;
}

.__container.odd
{
    background-color: #eeeeee;
    margin-bottom: 6px;
}

#title
{
    font-family: OpenSans;
    font-size: 25px;
    padding-top: 5px;
    padding-left: 5px;
    font-weight: lighter;
}

form
{
    margin: 0 0 0 0;
}

#title h1
{
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: 15px;
}

#portal-title-actions
{
    position: absolute;
    right: 0;
    top: 20px;
    padding-right: 50px;
}

.portal-image-gallery
{
    height: 34vw;
    max-height: 520px;
    overflow: hidden;
}

#portal-navbar
{
    border-bottom: 2px black solid;
    height: 43px;
}

#gallery-thumbnail
{
    float:left;
    width: 200px;
    height: 150px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.gallery-title
{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 18px;
}

#discussion-full-width img, #gallery-thumbnail img
{
    width: 100%;
    height:100%;
}

.image-panorama
{
    position: relative;
    max-height: 100%;
}

.image-panorama-images
{
    position: absolute;
    max-width: none!important;
    height: 34vw;
    max-height: 520px;
}

.image-panorama-navigation
{
    position: relative;
    width: 100%;
    height: 100%;
}

.image-panorama-navigation button
{
    position: absolute;
    height: 50px;
    width: 50px;
    top: 40%;
    bottom: 40%;
    opacity: 0.4;
    transition: opacity 0.4s;
}

.image-panorama-navigation button:hover
{
    opacity: 1;
}

.image-panorama-prev
{

    left: 0;
}

.image-panorama-next
{
    right: 0;
}

.image-panorama-image-container
{
    float: left;
    text-align: center;
}

.image-panorama-image-container img
{
    height: 100%;
    max-width: 100%;
}

.image-single-view
{
    width: 100%;
    text-align: center;
    max-height: 34vw;
    background-color: #a2a2a2;
}

.image-single-view img
{
    height: 100%;
}

.gallery-collection-images
{
    white-space: nowrap;
    overflow: hidden;
    height: 120px;
    max-width: none !important;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 10px;
}

.gallery-collection-images ul
{
    height: 100px;
    width: 100px;
}

.gallery-collection-images ul li
{
    display: inline;
    margin-left: 5px;
}

.gallery-collection-images ul li img
{
    height: 100%;
    max-width: 140px;
    cursor: pointer;
}

.thumbnail-image
{
    
}

.thumbnail-image.selected
{
    border: 2px orange solid;
}

.__clear-floats
{
    clear: both;
}


.comments-section-new
{
    width: 100%;
}

.comments-section-new textarea
{
    width: 80%;
}

.comments-section-new button
{
    width: 19%;
}

.comment-outer
{
    width: 100%;
}

.comment-outer-text
{
    float: left;
    width: 85%;
}

.comment-outer-image
{
    width: 15%;
    height: 50px;
    float: left;
}

.comment-outer-image img
{
    height: 100%;
}

.comment-outer-title
{
    font-weight: bold;
}